{% load static %}
<footer class="bottom-0 w-100">
  {% comment %} <div class="container">
    <div class="row"> {% endcomment %}
  <div class="col-8 card border-0 me-5" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <img id="dev-logo" src="{% static 'dev.png' %}" alt="개발자" class="img-fluid rounded-start">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <div class="accordion accordion-flush col" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  이수정
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body row">
                  <div class="col-4">
                    <img class="img-fluid" src="{% static 'sjsj.png' %}" alt="">
                  </div>
                  <div class="col-8">
                    <h3>이수정</h3>
                    <hr>
                    <p>금요일 조아!</p>
                    <p><a href="https://github.com/Shureeshu/"><img id="github-logo" src="{% static 'github.png' %}" alt="깃헙"></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  장민지
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body row">
                  <div class="col-4">
                    <img class="img-fluid" src="{% static 'mg.jpg' %}" alt="">
                  </div>
                  <div class="col-8">
                    <h3>장민지</h3>
                    <hr>
                    <p>모두들 수고 많으셨습니다~! 많이 배워갑니당 ^__^</p>
                    <p><a href="https://github.com/mungjimangji"><img id="github-logo" src="{% static 'github.png' %}" alt="깃헙"></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  최은비
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body row">
                  <div class="col-4">
                    <img class="img-fluid" src="{% static 'eunbi.jpg' %}" alt="">
                  </div>
                  <div class="col-8">
                    <h3>최은비</h3>
                    <hr>
                    <p>3일동안 재밌었습니다 ㅎㅎ 프로젝트에서 다시 만났으면 좋겠어요</p>
                    <p><a href="https://github.com/rloldl-c"><img id="github-logo" src="{% static 'github.png' %}" alt="깃헙"></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
                  장하늬
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body row">
                  <div class="col-4">
                    <img class="img-fluid" src="{% static 'hany.png' %}" alt="">
                  </div>
                  <div class="col-8">
                    <h3>장하늬</h3>
                    <hr>
                    <p>살려줘....</p>
                    <p><a href="https://github.com/hany0147"><img id="github-logo" src="{% static 'github.png' %}" alt="깃헙"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-between align-items-center ms-5">
    <p><a class="link-secondary text-decoration-none" href="#">고객센터</a></p>
    <p><a class="link-secondary text-decoration-none" href="#">이용약관</a></p>
    <p><a class="link-secondary text-decoration-none" href="#">문의하기</a></p>
  </div>
</footer>