{% extends 'base.html' %}
{% block content %}
  <div class="container m-5">
    <h1>회원정보</h1>
    <hr>
    <h3> 성 : {{user.last_name}} </h3>
    <h3> 이름 : {{user.first_name}} </h3>
    <h3> 이메일 : {{user.email}} </h3>
    <h3> 생년월일 : {{user.birthday}} </h3>
    <hr>
    <div class="d-flex gap-3">
      <a href="{% url 'accounts:update' %}" class="btn btn-success">회원정보수정</a>
      <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-light" value="비밀번호변경">
      </form>
      <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="회원탈퇴">
      </form>

    </div>
    
  </div>
{% endblock content %}
{% block c1 %}
  {{ all_count }}
{% endblock c1 %}
{% block c2 %}
  {{ dev_count }}
{% endblock c2 %}
{% block c3 %}
  {{ cs_count }}
{% endblock c3 %}
{% block c4 %}
  {{ newT_count }}
{% endblock c4 %}