{% extends 'base.html' %}
{% block content %}
  <h1>상세 페이지</h1>
  <hr>
  <ul class="list-unstyled">
    <li class="red">작성자: {{ review.user }}</li>
    <li>후기 번호: {{ review.pk }}</li>
    <li>후기 제목: {{ review.title }}</li>
    <li>
      {% if review.image %}
        <img src="{{ review.image_thumbnail.url }}" alt="">
      {% endif %}
    </li>
    <li>후기 내용: {{ review.content }}</li>
    <li>영화 이름: {{ review.movie }}</li>
  </ul>
  <hr>
  <div class="row">
    <div class="col-2">
      <a class="btn btn-primary" href="{% url 'reviews:index' %}">뒤로가기</a>
    </div>
    {% if request.user == review.user %}
    <div class="col-2">
      <a class="btn btn-secondary" href="{% url 'reviews:update' review.pk %}">수정</a>
    </div>
    <div class="col-2">
      <form action="{% url 'reviews:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="삭제">
      </form>
    </div>
    {% endif %}
  </div>
  <hr>
  <h4 class="mb-3">댓글: {{ comments|length }}개</h4>
  <ul class="list-unstyled">
    {% for comment in comments %}
      <li class="red">댓글 작성자: {{ comment.user }}</li>
      <li>댓글 번호: {{ comment.pk }}</li>
      <li>댓글 내용: {{ comment.content }}</li>
      {% if request.user == comment.user %}
        <li>
          <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="삭제">
          </form>
        </li>
      {% endif %}
      <br>
    {% empty %}
      <li>댓글이 없습니다.</li>
    {% endfor %}
  </ul>
  <hr>
  <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글 생성">
  </form>
{% endblock content %}